.task {
  padding: 1rem;

  font-size: var(--size-md);
  font-weight: 400;

  background-color: rgba(var(--color-lavender-rgb), 0.35);
  border-radius: 1rem;

  cursor: pointer;
}

.dragTask {
  opacity: 0.35;
}
