.container {
  position: relative;

  max-width: var(--max-width);
  margin: 1.5rem auto;
}

.title {
  margin-bottom: 1rem;

  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: var(--size-xl);
}

.projects {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Modal */

.titleModal {
  margin-bottom: 1rem;

  font-family: var(--font-montserrat);
}

.buttonAdd {
  margin-top: 1.5rem;
}
