.container {
  position: relative;

  max-width: var(--max-width);
  margin: 1.5rem auto;
}

.arrow {
  margin-bottom: 1rem;
}

.title {
  margin-bottom: 1rem;

  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: var(--size-xl);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Tasks */

.tasks {
  display: grid;
  min-height: 65vh;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
}

/* Modal */

.titleModal {
  margin-bottom: 1rem;

  font-family: var(--font-montserrat);
}

.buttonAdd {
  margin-top: 1.5rem;
}

/* Media */

@media (max-width: 768px) {
  .tasks {
    grid-template-columns: repeat(3, 250px);

    overflow-x: scroll;
  }
}
